<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
  </title>
  <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
  <header>
    <div class="header-container">
      <a class="log" href=""><img src="../public/img/avatar-max-img.png" alt="">nickname</a>
      <ul class="right-header">
        <li class="item"><a class="a-link active" href="/">首页</a></li>
        <li class="item"><a class="a-link" href="/">归档</a></li>
        <li class="item"><a class="a-link" href="/">关于</a></li>
        <li class="item"><a class="a-link" href="/">标签</a></li>
      </ul>
    </div>
  </header>
  <main>
    <div class="article">
      {{each  topics}}
      <section>
        <a href="/topic/{{ $value.id }}">
          <h2>{{$value.title}}</h2>
        </a>
        <p>
          {{$value.content}}
        </p>
        <time>
          <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • {{ $value.createdAt }}</p>
        </time>
      </section>
      {{/each}}
    </div>
    <aside>
      <div class="aside-describe">
        <div class="aside-form">
          <form action="">
            <input class="aside-search" type="text" placeholder="Searchs">
          </form>
        </div>
        <div class="aside-img">
          <img src="../public/img/timg.jpg" alt="">
          <p class="aside-name">
            nickname
          </p>
        </div>
      </div>
    </aside>
  </main>

</body>

</html>