body {
  background-color:#f4f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #fff;
  border-bottom: 1px solid #f4f5f5;
}
main {
  flex-grow: 1;
  display: flex;
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}
aside {
  position: sticky;
  top: 15px;
  flex-basis: 34%;
}
.article {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}
.header-container {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  font-size: 1.15em;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

a {
  text-decoration: none;
}

.header-container .log {
  color: #ccc;
  font-size: 13px;
}
.header-container .log img {
  height: 20px;
}

.right-header {
  margin: 0;
  padding: 0;
}

.header-container .right-header li {
  list-style: none;
  display: inline-block;
  padding: 0 18px;
}
.header-container .right-header .a-link {
  color: #ccc;
}
.header-container .right-header .active {
  color: #007fff;
}
.article {
  margin-top: 20px;
  width: 66%;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  box-sizing: border-box;
  flex-basis: 66%;
  align-self: flex-start;
}
.article section{ 
  padding: 20px 30px;
  border-bottom: 1px solid  #f4f5f5;
}
.aside-describe {
  margin: 20px 20px;
}
.aside-describe img {
  width: 100%;
  overflow: hidden;
}
.aside-form, .aside-img{
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
}
.aside-search {
  width: 100%;
  height: 25px;
  border: 1px solid  #f4f5f5;
}
.aside-img  {
  margin-top: 20px;
}
.aside-name {
  color:#ccc;
}
.article time p {
  font-size: 14px;
  color: #96a6d7;
}