.view_container {
    width: 100%;
    height: 100%;
    background-color: #f4f5f5;
    padding-top: 65px;
}
@media (max-width: 980px){
    .container {
        width: 98%;
    }
    .container .nav_list .pc{
        display: none;
    }
    .container .blog_title {
        display: none;
    }
   .container .search {
       width: 55%;
   }
   .enter_wrap {
    background-color: #fff;
    height: 100%;
    padding: 0 1rem;
   }
   .right_container {
      display: none;
   }

   .markdown-body {
       padding: 0  1rem 1rem 1rem;
   }
  
}
@media (min-width: 980px){
    .main_header .nav_down {
        display: none;
       }
       .main_container {
        max-width: 55rem;
        margin: 0 auto;
       display: flex;
       justify-content: space-between;
       height: 100%;
        }
        .enter_wrap {
            flex: 1;
            background-color: #fff;
            padding:0 0 0 1.5rem;
            height: 100%;
            position: relative;
        }
    
       .right_container {
         min-width: 270px;
         background-color: #fff;
         margin-left: 1.5rem;
    }
    .enter_wrap .md-side{
        position: absolute;
        width: 15rem;
        min-height: 15rem;
        right: -15.8rem;
        background-color: #fff;
    }
}